/* newsfeed.module.css */

.container {
    padding: 20px;

    font-family: 'Arial', sans-serif;
    min-height: 100vh;
    margin-top: 10vh;
    font-family: "Rockwell, serif";

  }
  
  .heading {
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 40px;
    color: #333;
    font-family: "Rockwell, serif";

  }
  
  .newsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .card {
    background: linear-gradient(135deg, #fff, #f1f1f1);
    border: 1px solid #ddd;
    border-radius: 10px;
    
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    overflow: hidden;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .cardTitle {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    font-family: "Rockwell, serif";

    margin-bottom: 10px;
  }
  
  .cardContent {
    font-size: 1rem;
    color: #666;
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 20px;
    font-family: "Rockwell, serif";
  }
  
  .cardDate {
    font-size: 0.9rem;
    color: #999;
  }
  