body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #faf0e6;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* For small screens (e.g., less than 768px) */
@media (max-width: 768px) {
  .features-container {
    flex-direction: column; /* Stack items vertically */
  }
  .feature-item {
    display: block; /* Ensure each item takes full width */
    width: 100%; /* Optional: Explicitly set width to 100% */
  }
}

/* For large screens (e.g., 768px and above) */
@media (min-width: 768px) {
  .features-container {
    flex-direction: row; /* Arrange items horizontally */
  }
  .feature-item {
    display: inline-block; /* Allow items to sit next to each other */
    width: auto; /* Allow items to take their natural width */
  }
}

.news-card {
  background: linear-gradient(135deg, #faf0e6, #f1f1f1);
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.news-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}



